<ion-header>
  <ion-toolbar >
    <ion-title color="medium-shade">
      Niveo National ID scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="status">
    <ion-item>
      <ion-label>NPN Number</ion-label>
       {{ identity['NpnNumber'] }}
    </ion-item>
    <ion-item>
      <ion-label>First Name</ion-label>
      {{ identity['FirstName'] }}
    </ion-item>
    <ion-item>
      <ion-label>Name</ion-label>
      {{ identity['Name'] }}
    </ion-item>
    <ion-item>
      <ion-label>Middle Name</ion-label>
      {{ identity['MiddleName'] }}
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      {{ identity['Gender'] }}
    </ion-item>
    <ion-item>
      <ion-label>Born</ion-label>
      {{ identity['Born'] }}
    </ion-item>
    <ion-item>
      <ion-label>Born In</ion-label>
      {{ identity['BornIn'] }}
    </ion-item>
    <ion-item>
      <ion-label>Nationality </ion-label>
      {{ identity['Nationality'] }}
    </ion-item>
    <!-- <ion-item></ion-item> -->


    <!-- <ion-item></ion-item> -->

  </ion-list>

  <div class="hint" *ngIf="!status">
    <h1 class="hint-text">Tap the camera icon to start scan</h1>
  </div>

  <ion-fab class="scan" (click)="scan()" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>